.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.form-control {
  border-radius: 10px;
  font-size: 15px;
}

.btn {
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}
