<nav class="navbar navbar-expand-sm bg-primary navbar-dark shadow">

  <div class="container">

    <a class="navbar-brand fw-bold" routerLink="/">
      <i class="bi bi-building"></i> EMS
    </a>

    <ul class="navbar-nav">

      <li class="nav-item">
        <a
          routerLink="/employees"
          routerLinkActive="active"
          class="nav-link">

          <i class="bi bi-people-fill"></i>
          Employee List

        </a>
      </li>

      <li class="nav-item">
        <a
          routerLink="/create-employee"
          routerLinkActive="active"
          class="nav-link">

          <i class="bi bi-person-plus-fill"></i>
          Add Employee

        </a>
      </li>

    </ul>

  </div>

</nav>
